PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://<usuario>:<senha>@<cluster>.mongodb.net/<banco>
JWT_SECRET=<gere-uma-chave-aleatoria-longa-aqui>
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000
